<div class="footer">
  <!-- footer -->
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
              <div class="widget-footer">
                  <h3 class="widget-title">About Hostel</h3>
                  <p>In et congue nibh. Maecenas leo enim, lobortis non quam et, interdum malesuada risus. Nunc a pharetra ligula, nec tincidunt est. Vestibulum sed facilisis nibh.
                  </p>
                  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestad iaculis pellentesque neque, sed dapibursus porta ut nibh.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
              <div class="widget-footer">
                  <h3 class="widget-title">Information</h3>
                  <ul class="listnone">
                      <li><a href="#">About</a></li>
                      <li><a href="#">How it works</a></li>
                      <li><a href="#">Behind the hostel</a></li>
                      <li><a href="#">Careers</a></li>
                      <li><a href="#">Terms and Conditions</a></li>
                      <li><a href="#">Become a partner</a></li>
                      <li><a href="#">Privacy & Cookies Policy</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
              <div class="widget-footer">
                  <h3 class="widget-title">Quick Links</h3>
                  <ul class="listnone">
                      <li><a href="#">Worldwide</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">City Guide</a></li>
                      <li><a href="#">Hostel Singup</a></li>
                      <li><a href="#">Login</a></li>
                      <li><a href="#">Register</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
              <div class="widget-footer">
                  <h3 class="widget-title">Customer Support</h3>
                  <ul class="listnone">
                      <li><a href="#">FAQ</a></li>
                      <li><a href="#">Help Center</a></li>
                      <li><a href="#">Contact us</a></li>
                      <li><a href="#">Chat</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="tiny-footer">
  <!-- tiny footer -->
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="footer-social">
                  <!-- footer social -->
                  <ul>
                      <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                  </ul>
              </div>
              <!-- /.footer social -->
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="text-right">All Rights Reserved. Copyright 2018. Hostel</p>
          </div>
      </div>
  </div>
</div>
