<div class="dashboard-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="dashboard-content">
          <div class="dashboard-box">
            <div class="dashboard-head">
              <h3 class="dashboard-head-title" >Tổng khách sạn: {{ totalPosts }}</h3>
            </div>
            <div class="dashboard-data" *ngFor="let tkCity of totalCities">
              <div class="dashboard-wislist-box">
                <div class="row">
                  <div class="col-sm-9">
                    {{ tkCity?.city }}
                  </div>
                  <div class="col-sm-3">
                    {{ tkCity?.count }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" *ngIf="dashboard$ | async as dashboards">
        <div class="dashboard-content">
          <div class="dashboard-box">
            <div class="dashboard-head">
              <h3 class="dashboard-head-title">Danh sách quản lý</h3>
            </div>
            <div class="dashboard-data">
              <div class="dashboard-wislist-box">
                <ul class="wishlist-list">
                  <li class="wishlist-block" *ngFor="let dashboard of dashboards">
                    <!-- wishlist block -->
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="wishlist-img">
                          <a href="#"><img src="./assets/images/wishlist-img.jpg" alt=""></a>
                        </div>
                      </div>
                      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <div class="wishlist-content" style="padding-top: 0">
                          <h4 class="hostel-title" style="margin-top: 0"><a href="javascript:void(0)" (click)="toDetailHostel(dashboard?.post_id)"> {{ dashboard?.title }}</a></h4>
                          <p class="hostel-address"> {{ dashboard?.address }}</p>
                        <span class="remove-wishlist"><i class="fa fa-trash"></i><a href="javascript:void(0)"
                            (click)="deleteHostels(dashboard)">Xóa bài đăng
                          </a></span>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="text-align:right">
                        <div class="wishlist-action">
                          <small>Giá</small>
                          <div class="price"> {{ dashboard?.price | currency: 'VND': ''}} VND</div>
                          <a href="javascript:void(0)" class="btn btn-default btn-sm"
                            (click)="confirmHostel(dashboard)"> Duyệt bài </a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade " id="modalDeleteHostel" tabindex="-1" role="dialog" aria-labelledby="modalDeleteHostelTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex" style="align-items: center;">
        <h3 class="modal-title" id="modalDeleteHostelTitle">Xóa bài đăng</h3>
        <button type="button" class="close" style="margin-left: auto;" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Vui lòng xác nhận xóa bài đăng
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" (click)="cfDelete()"> Xóa</button>
      </div>
    </div>
  </div>
</div>
